{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Guitar Rack</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href=“https://fonts.googleapis.com/icon?family=Material+Icons” rel=“stylesheet”>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Guitar Rack</a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'guitars_create' %}">Add an Axe</a></li>
          <li><a href="{% url 'index' %}">Guitars</a></li>
          <li><a href="{% url 'pedals_index' %}">Pedals</a></li>
          <li><a href="{% url 'pedals_create' %}">Add A Pedal</a></li>
          <li>
            <form action="{% url 'search_guitars' %}" method="POST">
              {% csrf_token %}
              <input type="search" placeholder="Search Guitars" name="searched">
            </li>
            <li>
            <button class="btn-small">Search</button>
          </form>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights and Some Lefts Reserved, &copy; 2023 Guitar Rack &nbsp;</div>
  </footer>
</body>
</html>