{% extends 'base.html' %}

{% block content %}
<div class="row" id="topbarsearch">
    <div class="col s6 col-offset-3">
        <div class="input-group"> 
            <form action="{% url 'home' %}" method="POST">
                {% csrf_token %}
                <div class="input-field">
                    <input type="search" placeholder="Search Guitars Tabs" name="searched">
                    <!-- <label class="label-icon" for="search"><i class="material-icons">search</i></label> -->
                    <button class="btn-small">Search<i class="glyphicon glyphicon-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

 <h1>movies</h1>
 {% if searched %}
 <h6>You Searched For {{ searched }}:</h6>
 <ul>
   {% for i, j  in response.items %}
    
   <li>{{i}}: {{j}}</li>
    <!-- <li>Title : {{ response.Title }}</li>
    <li>Release : {{ response.Year }}</li>
    <li>IMDB ID : {{ response.imdbID }}</li>
    <li>Type of : {{ response.Type }}</li> -->
    
   {% endfor %}
 </ul>  
{% endif %}
{% endblock %}